button {
  border: 0px;
  cursor: pointer;
  color: white;
  height: 35px;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}

button.green {
  background: green;
}

button.blue {
  background: blue;
}

button.red {
  background: red;
}