* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.App {
  display: grid;
  grid-template-columns: 40% 60%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 80px;
}

button {
  border: 0px;
  cursor: pointer;
  color: white;
  height: 35px;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 1.2rem;
}

button.green {
  background: green;
}

button.blue {
  background: blue;
}

button.red {
  background: red;
}